#about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* --- --- --- --- --- --- --- ---
        Content container
--- --- --- --- --- --- --- --- */

#about-section .content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 767px) {
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: flex-start;
        height: 100%;
        padding-top: var(--navbarHeight);
        padding-bottom: 10px;
    }
}

/* --- --- --- --- --- --- --- ---
        Text container
    (navigation + title + text)
--- --- --- --- --- --- --- --- */

#about-section .content-container .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 60vw;
    min-width: 300px;
    max-width: 100%;
    padding-left: calc(10vw + 40px);
    padding-right: 40px;

    @media only screen and (max-width: 767px) {
        width: 100%;
        padding-left: 10vw;
        padding-top: 0;
    }

    & span {
        color: hsl(var(--textHSL) / 0.3);
        -webkit-background-clip: text;
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(90deg, var(--text), var(--text));
    }

    & .scroll-reveal-title {
        font-size: 42px;
        font-weight: 900;
        margin-bottom: 20px;
        margin-top: 10px;
    

        @media only screen and (max-width: 767px) {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

    & .scroll-reveal-text {
        font-size: calc(12px + 0.2vw);
        font-weight: 400;
        margin-bottom: 20px;

        @media only screen and (max-width: 767px) {
            font-size: 11px;
            /* line-height: 5px; */
        }
    }
}

/* --- --- --- --- --- --- --- ---
        Image container
--- --- --- --- --- --- --- --- */

#about-section .content-container .image-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40vw;
    height: 100%;

    @media only screen and (max-width: 767px) {
        width: 100%;
    }

    & .image-container {
        position: absolute;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid var(--grey);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px 0 hsl(var(--background) / 0.8);
        transition: transform ease-in-out;

        @media only screen and (max-width: 767px) {
            border: 1px solid var(--grey);
        }

        & img {
            width: 15vw;
            height: auto;

            @media only screen and (max-width: 767px) {
                width: 30vw;
            }
        }

        /* lines overlay on image */

        &::before {
            content: '';
            position: absolute;
            background: linear-gradient(
                hsl(var(--background) / 0.15),
                hsl(var(--background) / 0.15) 3px,
                transparent 3px,
                transparent 5px
            );
            background-size: 100% 5px;
            height: 100%;
            width: 100%;
            animation: pan-overlay 22s infinite linear;
            position: absolute;
            z-index: 2;
            left: 0px;
            top: 0px;
        }

        &.image1 {
            transform: translate(0%, 0%) rotate(-10deg);
        }

        &.image2 {
            transform: translate(0%, 0%) rotate(0deg);
        }

        &.image3 {
            transform: translate(0%, 0%) rotate(10deg);
        }

    }

    /* Zoom on image animation on hover */

    &:has(.image1.hover-allowed:hover) .image-container {
        &.image1 { 
            transform: translate(-60%, -30%) rotate(0deg) scale(1.1) !important; 
            @media only screen and (max-width: 767px) { transform: translate(-80%, -20%) rotate(0deg) scale(1.1) !important; }
        }

        &.image2 { 
            transform: translate(40%, 40%) rotate(8deg) scale(0.8) !important; 
            @media only screen and (max-width: 767px) { transform: translate(60%, 0%) rotate(8deg) scale(0.8) !important; }
        }

        &.image3 { 
            transform: translate(60%, 60%) rotate(10deg) scale(0.8) !important;
            @media only screen and (max-width: 767px) { transform: translate(80%, 20%) rotate(10deg) scale(0.8) !important; } 
        }
    }

    
    &:has(.image2.hover-allowed:hover) .image-container {
        &.image1 { 
            transform: translate(-70%, -40%) rotate(-15deg) scale(0.8) !important; 
            @media only screen and (max-width: 767px) { transform: translate(-80%, -30%) rotate(-15deg) scale(0.8) !important;  } 
        }

        &.image2 { 
            transform: translate(0%, 0%) rotate(0deg) scale(1.1) !important; 
            @media only screen and (max-width: 767px) { transform: translate(0%, -10%) rotate(0deg) scale(1.1) !important;  }
        }

        &.image3 { 
            transform: translate(60%, 60%) rotate(10deg) scale(0.8) !important; 
            @media only screen and (max-width: 767px) { transform: translate(80%, 20%) rotate(10deg) scale(0.8) !important; }
        }
    }

    &:has(.image3.hover-allowed:hover) .image-container {
        &.image1 { 
            transform: translate(-70%, -40%) rotate(-15deg) scale(0.8) !important;
            @media only screen and (max-width: 767px) { transform: translate(-80%, -30%) rotate(-15deg) scale(0.8) !important; } 
        }

        &.image2 { 
            transform: translate(-40%, -30%) rotate(-10deg) scale(0.8) !important; 
            @media only screen and (max-width: 767px) { transform: translate(-60%, -20%) rotate(-10deg) scale(0.8) !important;  }
        }

        &.image3 { 
            transform: translate(50%, 50%) rotate(0deg) scale(1.1) !important; 
            @media only screen and (max-width: 767px) { transform: translate(50%, 0%) rotate(0deg) scale(1.1) !important;  }
        }
    }

}

@keyframes pan-overlay {
    from {
      background-position: 0% 0%;
    }
    
    to {
      background-position: 0% -100%;
    }
  }

/* --- --- --- --- --- --- --- ---
        Navigation
    (not absolute anymore)
--- --- --- --- --- --- --- --- */

#about-section .navigation {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
}