@import 'root.css';
@import 'loading-screen.css';
@import 'navbar.css';


* {
  box-sizing: border-box;
  color: var(--text);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: hsl(var(--background));
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: hsl(var(--background));
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    max-width: 100%;
  }
}

h1, h2, h3, h4, h1 *, h2 *, h3 *, h4 * {
  font-family: "good-times", sans-serif;
  font-weight: 900;
  font-style: normal;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.member {
    position: absolute;
    transform-style: preserve-3d;
    animation: member 48s linear infinite;
    position: absolute;
    --width: max(20vw, 250px);
    width: var(--width);
    height: calc(var(--width) * var(--goldenRatio));
}

.member:nth-child(1) { animation-delay: 0s; }
.member:nth-child(2) { animation-delay: -6s; }
.member:nth-child(3) { animation-delay: -12s; }
.member:nth-child(4) { animation-delay: -18s; }
.member:nth-child(5) { animation-delay: -24s; }
.member:nth-child(6) { animation-delay: -30s; }
.member:nth-child(7) { animation-delay: -36s; }
.member:nth-child(8) { animation-delay: -42s; }

@keyframes member {
    0% {
        transform: translateX(400%) scale(0.5);
    }
    25% {
        transform: translateX(200%) scale(0.5);
    }
    50% {
        transform: translateX(0%) scale(1);
    }
    75% {
        transform: translateX(-200%) scale(0.5);
    }
    100% {
        transform: translateX(-400%) scale(0.5);
    }
}

.member-container {
    /* --shiftX: 0deg;
    --shiftY: 0deg; */
    --reflectionX: 0%;
    --reflectionY: 0%;
    --opacity: 0;
    --innerBorderInsideDistance: 10px;

    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--lightBackground);
    border-radius: calc(var(--innerBorderInsideDistance) * 2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    /* border-bottom: 2px solid var(--grey);
    border-right: 2px solid var(--grey); */
    transform-style: preserve-3d;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 128px;



    @media only screen and (min-width: 2300px) {
        --innerBorderInsideDistance: 20px;
    }
}

.member-container {

    .js-tilt-glare {
        border-radius: calc(var(--innerBorderInsideDistance) * 2) !important; /* Adjust this value as needed */
    }

    .inner-border {
        position: absolute;
        width: calc(100% - var(--innerBorderInsideDistance) * 2);
        height: calc(100% - var(--innerBorderInsideDistance) * 2);
        border: 2px solid var(--grey);
        border-radius: var(--innerBorderInsideDistance);
    }

    .front-inner-border {
        position: absolute;
        z-index: 9998;
        width: calc(100% - var(--innerBorderInsideDistance) * 2);
        height: 70%;
        bottom: var(--innerBorderInsideDistance);
        border: 2px solid var(--grey);
        border-top: none;
        border-radius: 0px 0px var(--innerBorderInsideDistance) var(--innerBorderInsideDistance);
    }

    .badges {
        position: absolute;
        z-index: 9999;
        top: calc(var(--innerBorderInsideDistance) * 1.5);
        left: calc(var(--innerBorderInsideDistance) * 1.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc(var(--innerBorderInsideDistance) / 4);
        border-radius: 5px;
        /* overflow: hidden; */

        .badge {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            display: flex;
            border-radius: calc(var(--innerBorderInsideDistance) / 2);
            background-color: hsl(var(--background) / 1);
            padding: calc(var(--innerBorderInsideDistance) / 2);
            cursor: pointer;

            span {
                font-size: calc(var(--innerBorderInsideDistance) * 2);
                color: var(--greyish);
            }

            .badge-alt {
                position: absolute;
                display: flex;
                align-items: center;
                z-index: -1;
                height: 100%;
                left: calc(100% - 10px);
                top: 50%;
                transform: translate(-50%, -50%);
                background: hsl(var(--background) / 1);
                border-radius: 0 10px 10px 0;  
                font-size: 8px;
                padding: 5px 8px 5px 15px; /* top right bottom left */

                opacity: 0;
                transition: opacity .3s ease-in-out, transform .3s ease-in-out;

                @media only screen and (min-width: 2300px) {
                    font-size: 12px;
                    padding: 10px 16px 10px 30px; /* top right bottom left */
                }
            }
        }

        .badge:hover {
            .badge-alt {
                opacity: 1;
                transform: translate(0%, -50%);
            }
        }
    }

    .lines { 
        position: absolute;
        background: linear-gradient(
            hsl(var(--background) / 0.15),
            hsl(var(--background) / 0.15) 3px,
            transparent 3px,
            transparent 9px
        );
        background-size: 100% 9px;
        height: 100%;
        width: 100%;
        animation: pan-overlay 22s infinite linear;
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        border-radius: calc(var(--innerBorderInsideDistance) * 2);
    }

    .bg-highlight-container {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .bg-highlight {
            position: absolute;
            width: 70%;
            height: 70%;
            top: 5%;
            background-color: var(--greyish);
            border-radius: 50%;
            opacity: 0.2;
            filter: blur(40px);

            transition: transform 0.5s ease-in-out;
        }
    }
    
    img {
        position: absolute;
        /* height: 120%;
        bottom: 1px; /* fix a visual gliitch */
        /* object-fit: cover;
        border-radius: 10px; */ 
        object-fit: cover;
        height: 66%;
        width: 80%;
        top: -20%;
        object-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
        transition: transform 0.5s ease-in-out;
    }

    .content-top-polygon {
        position: absolute;
        z-index: -1;
        bottom: 54%;
        width: 100%;
        height: 12%;
        background-color: var(--orange);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .content-container {
        position: absolute;
        width: 100%;
        height: 60%;
        padding: 20px;
        bottom: 0;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        background-image: linear-gradient(to bottom, hsl(var(--background) / 1) 0%, var(--lightBackground) 100%);
        border-radius: 0 0 calc(var(--innerBorderInsideDistance) * 2) calc(var(--innerBorderInsideDistance) * 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 30px;
        gap: 15px;

        @media only screen and (min-width: 2300px) {
            padding: 65px 40px 40px 40px; /* top right bottom left */
            gap: 25px;
        }
    }

    .name {
        font-size: 32px;
        font-weight: 900;
        margin: 0;

        @media only screen and (min-width: 2300px) {
            font-size: 54px;
        }
    }

    table {
        width: 100%;
        height: 100%;
        background-color: hsl(var(--background) / 1);
        border-radius: var(--innerBorderInsideDistance);

        /* Only show inside borders */
        & {
            border-style: hidden;
            border-collapse: collapse;
        }
        /* Inside border style */
        tr, td {
            border-collapse: collapse;
            border: 1px solid var(--lightBackground);
        }

        td {
            font-size: 12px;
            padding: 10px 0px 10px 10px; /* top right bottom left */

            @media only screen and (min-width: 2300px) {
                font-size: 18px;
                padding: 20px 0px 20px 20px; /* top right bottom left */
            }
        }

        .arrows-down, .arrows-up {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: right;

            @media only screen and (min-width: 2300px) {
                font-size: 48px;
            }
        }

        .arrows-up {
            color: var(--orange);
            transform: rotate(45deg);
        }

        .arrows-down {
            color: var(--darkBlue);
            transform: rotate(-45deg);
        }
    }
}

.member:hover {
    /* img {
        transform: translateZ(20px);
    } */

    .bg-highlight {
        transform: scale(1.2);
    }
}

@keyframes pan-overlay {
    from {
      background-position: 0% 0%;
    }
    
    to {
      background-position: 0% -100%;
    }
  }


#controls {
    position: absolute;
    bottom: 5%;

    #play-pause {
        position: relative;
        z-index: 0;
        display: grid;
        place-items: center;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid var(--grey);
        background: hsl(var(--background) / 1);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: border .5s ease-in-out;
    }

    #play-pause::before {
        content: "";
        position: absolute;
        z-index: -1;
        right: 120%;
        width: 200%;
        height: 1px;
        background-image: linear-gradient(to right, transparent 0%, var(--greyish) 100%);
        opacity: 0.3;
        transition: width .5s ease-in-out, opacity .5s ease-in-out;
    }

    #play-pause::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 120%;
        width: 200%;
        height: 1px;
        background-image: linear-gradient(to right, var(--greyish) 0%, transparent 100%);
        opacity: 0.3;
        transition: width .5s ease-in-out, opacity .5s ease-in-out;
    }


    .material-symbols-outlined {
        color: var(--grey);
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        transition: color .5s ease-in-out;
    }

    #play-pause:hover {
        border: 1px solid var(--greyish);

        span {
            color: var(--greyish);
        }

        &::before {
            /* background-image: linear-gradient(to right, transparent 0%, var(--greyish) 100%); */
            opacity: 1;
            width: 400%;
        }

        &::after {
            /* background-image: linear-gradient(to right, var(--greyish) 0%, transparent 100%); */
            opacity: 1;
            width: 400%;
        }
    }

}