#numbers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --- --- --- --- --- --- --- ---
        Content container
--- --- --- --- --- --- --- --- */

#numbers-section .content-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 5px;

    @media only screen and (max-width: 767px) {
        gap: 5px;
    }

    & .gear-container {
        position: relative;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 767px) {
            width: 100%;
        }

        .numbers-container {
            position: absolute;;
            width: 31%;
            aspect-ratio: 1/1;
            border-radius: 50%;

            display: flex;
            align-items: center;
            overflow: hidden;

            .number {
                position: absolute;
                width: 100%;
                text-align: center;
                color: var(--orange);
                font-size: calc(32px + 2vw);
                font-family: "good-times", sans-serif;
                font-weight: 900;
                font-style: normal;
                transition-property: transform, filter, opacity;
                transition-duration: 0s;
                transition-timing-function: ease-in-out;
                text-shadow: 0 0 40px var(--orange), 0 0 10px var(--orange); 

                @media only screen and (max-width: 767px) {
                    text-shadow: 0 0 20px var(--orange), 0 0 5px var(--orange); 
                }   
            }
        }
    }
}

#outer-gear {
    position: absolute;
    width: 100%;
}

#inner-gear {
    position: absolute;
    width: 40%;
}

#giga-gear {
    position: absolute;
    width: 220%;
}

.left-arrow-container, .right-arrow-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s ease-in-out;

    @media only screen and (min-width: 768px) {
        &:hover {
            transform: scale(1.1);

            span {
                color: hsl(var(--textHSL) / 0.6);
            }  
        }
    }
    @media only screen and (max-width: 767px) {
        &:active {
            transform: scale(1.1);

            span {
                color: hsl(var(--textHSL) / 0.6);
            }  
        }
    }

    & > span {
        transition: color 0.2s ease-in-out;
        font-size: calc(32px + 3vw);
        color: hsl(var(--textHSL) / 0.8);
    }

    & > p {
        font-size: 12px;
        color: hsl(var(--textHSL) / 0.5);

        @media only screen and (max-width: 767px) {
            font-size: 10px;
        }
    }
}

#number-alt {
    position: absolute;
    padding: 18px 32px;
    transform: translateY(200%);
    background: linear-gradient(0deg, var(--lightBackground) 0%, hsl(var(--background)) 100%);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    transition: color 0.5s ease-in-out;

    @media only screen and (max-width: 767px) {
        padding: 12px 24px;
    }   
}


/* --- --- --- --- --- --- --- ---
        Navigation
    (not absolute anymore)
--- --- --- --- --- --- --- --- */

#numbers-section .navigation {
    top: 20vh;
    bottom: auto;
}