@import 'root.css';
@import 'navbar.css';
@import 'home-section.css';
@import 'about-section.css';


* {
  box-sizing: border-box;
  color: var(--text);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: hsl(var(--background));
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    max-width: 100%;
  }
}

h1, h2, h3, h4 {
  font-family: "good-times", sans-serif;
  font-weight: 900;
  font-style: normal;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


/* --- --- --- --- --- --- --- ---
        Blob
--- --- --- --- --- --- --- --- */

.blurry-blob-container {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;

  & .blurry-blob {
      position: absolute;
      z-index: -2;
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      background-color: var(--lightBackground);
  }

  & .blurry-blob-blur {
      position: absolute;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(100px);
  }
}

/* --- --- --- --- --- --- --- ---
        Lines
--- --- --- --- --- --- --- --- */

.line {
  position: absolute;
  z-index: -1;
  background: var(--lightBackground);

  &.bottom-line {
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 10vh;
  }

  &.left-line {
      width: 2px;
      height: 100%;
      left: 10vw;
      top: 0;
  }
}

/* --- --- --- --- --- --- --- ---
        Navigation
--- --- --- --- --- --- --- --- */

.navigation {
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 3;
  bottom: 12vh;
  left: 12vw;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  cursor: pointer;

  & * {
      color: var(--grey);
      font-size: 14px;
      transition: color .3s;

      @media only screen and (min-width: 1920px) {
          & {
              font-size: 18px;
          }
      }
  }

  @media only screen and (max-width: 767px) {
      & {
          bottom: 25vh;
      }
  }

  @media only screen and (max-width: 767px) {
      &:active * {
          color: var(--text);
      }
  }
  @media only screen and (min-width: 768px) {
      &:hover * {
          color: var(--text);
      }
  }
}